<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Naver_Map_API_Key</key>
	<string>$(Naver_Map_API_Key)</string>
	<key>Naver_Map_Client_ID</key>
	<string>$(Naver_Map_Client_ID)</string>
	<key>Naver_Map_Client_Secret</key>
	<string>$(Naver_Map_Client_Secret)</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>주행 중 경로 안내와 도착지 주변 주차/단속 정보를 제공하기 위해 위치를 사용합니다.</string>
</dict>
</plist>
